.card {
    cursor: pointer;
    transform: scale(0.8);
    display: flex;
    flex-direction: column;
    width: 180px;
    background-color: white;
    height: 140px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
    transition: all ease 0.5s;
    margin: 15px;
    flex-shrink: 1;
}
.card--img {
    width: 90%;
    border-radius: 8px;
    height: 100px;
}

.card--img img {
    position: relative;
    top: -15px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all ease 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}
.description {
    height: 260px;
    opacity: 0;
    display: none;
    flex-direction: column;
}
.card:hover {
    transform: scale(1);
    transition: all ease 0.2s;
}
.card:hover span {
    display: none;
}
.card:hover img {
    top: -50px;
    transition: all ease 0.2s;
}
.card:hover .description {
    opacity: 1;
    display: flex;
    font-size: 15px;
    top: -40px;
    position: relative;
    height: auto;
    transition: all ease 0.5s;
}

.card--clicked {
    padding: 40px;
    top: 0;
    z-index: 99;
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: orange;
    height: 100%;
    border-radius: 8px;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
    transition: all ease 0.2s;
    min-height: 100vh;
    flex-shrink: 1;
}
.card--clicked--img {
    width: 550px;
    height: 350px;
    border-radius: 8px;
}
.card--clicked--img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    transition: all ease 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

.card--clicked--description {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    background-color: white;
    margin-top: 50px;
    height: auto;
    opacity: 1;
    flex-direction: column;
    animation: textUp 2s;
}
.card--clicked h2 {
    margin-bottom: 25px;
}

@keyframes textUp {
    from {
        position: relative;
        top: 100;
    }
    to {
        position: relative;
        top: 50;
    }
}
@media (max-width: 550px) {
    .card--clicked--img {
        width: 300px;
        height: 200px;
    }
}
