footer {
    position: relative;
    width: 100%;
    background-color: rgb(51, 51, 51);
    height: auto;
    color: white;
    padding: 15px;
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
}
.footer--items {
    display: flex;
    flex-direction: column;
}
.footer--content--items {
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.content--item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.content--item h2 {
    margin-bottom: 40px;
}
.content--item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    padding: 4px;
}
.content--item p {
    padding-right: 15px;
}
.content--item span {
    padding-left: 4px;
    text-align: center;

    /* align-items: flex-end; */
}

hr {
    margin: 10px;
}
.footer--copyright {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 565px) {
    .content--item h2 {
        margin-bottom: 20px;
    }
    footer {
        font-size: 13px;
    }
}
@media (max-width: 405px) {
    .content--item h2 {
        margin-bottom: 20px;
    }
    footer {
        font-size: 10px;
    }
    .content--item p {
        padding-right: 15px;
    }
}
